<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grade Curricular</title>

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <!-- BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  <!-- JAVASCRIPT -->
  <script defer src="js/switch_dark_mode.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/aside.css">
  <link rel="stylesheet" href="css/gradeCurricular.css">
  <link rel="stylesheet" href="css/btn.css">

</head>

<body>
  <header class="d-flex align-items-center justify-content-center">
    <nav class="navbar navbar-expand-lg poppins-bold">
      <div class="container-fluid align-items-center justify-content-between">
        <div class="d-flex align-items-center justify-content-center">
          <img class="logo" src="img/logo.png">
          <label class="switch">
            <input type="checkbox" id="darkModeSwitch" onchange="toggleDarkMode()">
            <span class="slider"></span>
          </label>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-list"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
          </svg>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav  fs-6 ">
            <li class="pe-5 nav-item nav-item-header pe-2  d-flex align-items-center ">
              <h5 class="fs-6 m-0" id="const-curso"
                value="<% if (funcionario == 0) {%><%=encontrarMatricula.IDMatricula%><%} else if (funcionario == 1) {%><%=encontrarMateria.IDMateria %><% } %>">
                <% if (funcionario==0) {%>
                  <%= cursoEncontrado.Nome %>
                    <%} else if (funcionario==1) {%>
                      <%=encontrarMateria.Nome %>
                        <% } %>
              </h5>
            </li>
            <li class="pe-5 nav-item nav-item-header pe-1  d-flex align-items-center">
              <h5 class="fs-6 m-0" id="const-nome" value="<%=encontrarPessoa.IDPessoa%>">
                <%= encontrarPessoa.Nome %>
              </h5>
            </li>
            <li class="nav-item nav-item-header pe-4">
              <a
                href="/perfil?idPessoa=<%=idPessoa%>&selecionado=<%=selecionadoMM%>&funcionario=<%=funcionario%>&pagina=perfil">
                <img src="img/<%=encontrarPessoa.Foto%>"
                  style="height: 60px; width: 60px; border-radius:50%; padding:2px; background-color:white">
              </a>
            </li>
            <li class="nav-item nav-item-header d-flex align-items-center pe-1" >
              <a style="width: 50px; padding:0px;height:33px; color: black;" class="btn" href="/" role="button">Sair</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <aside class="ms-2" style="float: left;">
      <ul class="barra-esquerda nav flex-column align-items-center pt-3 gap-3">
        <li class="nav-item justify-content-center">
          <span class="material-symbols-outlined">menu</span>
        </li>
        <li class="nav-item justify-content-center">
          <a
            href="/news?idPessoa=<%=idPessoa%>&selecionado=<%=selecionadoMM%>&funcionario=<%=funcionario%>&pagina=news"><span
              class="material-symbols-outlined">newspaper</span></a>
        </li>
        <li class="nav-item justify-content-center">
          <% if (funcionario==0) {%>
            <a
              href="/gradeCurricular?idPessoa=<%=idPessoa%>&selecionado=<%=selecionadoMM%>&funcionario=<%=funcionario%>&pagina=gradeCurricular"><span
                class="material-symbols-outlined">grid_view</span></a>
            <% } else { %>
              <a
                href="/avaliacao?idPessoa=<%=idPessoa%>&selecionado=<%=selecionadoMM%>&funcionario=<%=funcionario%>&pagina=avaliacao"><span
                  class="material-symbols-outlined">grid_view</span></a>
              <% } %>
        </li>
        <li class="nav-item">
          <span class="material-symbols-outlined">school</span>
        </li>
        <li class="nav-item">
          <span class="material-symbols-outlined">face_4</span>
        </li>
        <li class="nav-item">
          <a
            href="/boletos?idPessoa=<%=idPessoa%>&selecionado=<%=selecionadoMM%>&funcionario=<%=funcionario%>&pagina=boletos"><span
              class="material-symbols-outlined">request_quote</span></a>
        </li>
        <li class="nav-item">
          <span class="material-symbols-outlined">bookmark</span>
        </li>
        <li class="nav-item">
          <span class="material-symbols-outlined">link</span>
        </li>
        <li class="nav-item">
          <span class="material-symbols-outlined">description</span>
        </li>
      </ul>
      <div class="triangulo-para-baixo"></div>
    </aside>

    <article>
      <section id="section_1">
        <div class="d-flex justify-content-start align-items-end">
          <h1 class="our-text-color m-0">Grade curricular</h1>
        </div>

        <form action="" method="post" class="mt-5">
          <select class="form-select" onchange="this.form.submit()" name="nome" aria-label="Default select example"
            style="width: 220px;">
            <option value="">Período 1</option>
            <option value="">Período 2</option>
            <option value="">Período 3</option>
            <option value="">Período 4</option>
            <option value="">Período 5</option>
            <option value="">Período 6</option>
            <option value="">Período 7</option>
            <option value="">Período 8</option>
          </select>
        </form>
      </section>

      <section>
        <div class="row row-cols-1 row-cols-md-4 g-4 m-0 caixa">
          <div class="col card_style d-flex justify-content-center caixa-pp">
            <div class="card">
              <div class="card-body">
                <p class="card-text h5">Lógica de Programing</p>
                <p class="card-text">Matéria super divertida uhul maneiro radical!!!!!!!!!! rock!!!</p>
              </div>
            </div>
          </div>
          <div class="col card_style d-flex justify-content-center caixa-pp">
            <div class="card">
              <div class="card-body">
                <p class="card-text h5">Lógica de Programing</p>
                <p class="card-text">Matéria super divertida uhul maneiro radical!!!!!!!!!! rock!!!</p>
              </div>
            </div>
          </div>
          <div class="col card_style d-flex justify-content-center caixa-pp">
            <div class="card">
              <div class="card-body">
                <p class="card-text h5">Lógica de Programing</p>
                <p class="card-text">Matéria super divertida uhul maneiro radical!!!!!!!!!! rock!!!</p>
              </div>
            </div>
          </div>
          <div class="col card_style d-flex justify-content-center caixa-pp">
            <div class="card">
              <div class="card-body">
                <p class="card-text h5">Lógica de Programing</p>
                <p class="card-text">Matéria super divertida uhul maneiro radical!!!!!!!!!! rock!!!</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
  </main>
  <footer></footer>

</body>

</html>