<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil</title>

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


  <!-- BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  <!-- JAVASCRIPT -->
  <script defer src="js/switch_dark_mode.js"></script>
  <script defer src="js/editarTexto.js"></script>
  <script defer src="js/selecionarFoto.js"></script>

  <!-- <div id="texto-editavel">
    Este texto não pode ser editado pelo usuário até clicar no botão abaixo.
  </div>

  <button id="botao-editar">Editar Texto</button> -->

  <!-- CSS -->
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/aside.css">
  <link rel="stylesheet" href="css/perfil.css">



</head>

<body>
  <header class="d-flex align-items-center justify-content-center">
    <nav class="navbar navbar-expand-lg poppins-bold">
      <div class="container-fluid ">
        <img class="logo" src="img/logo.png">
        <div>
          <label class="switch">
            <input type="checkbox" id="darkModeSwitch" onchange="toggleDarkMode()">
            <span class="slider"></span>
          </label>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-list"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
          </svg>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav pe-5 fs-6">
            <li class="pe-5 nav-item pe-2  d-flex align-items-center ">
              <h5 class="fs-6 m-0" id="const-curso"
                value="<% if (funcionario == 0) {%><%=encontrarMatricula.IDMatricula%><%} else if (funcionario == 1) {%><%=encontrarMateria.IDMateria %><% } %>">
                <% if (funcionario==0) {%>
                  <%= cursoEncontrado.Nome %>
                    <%} else if (funcionario==1) {%>
                      <%=encontrarMateria.Nome %>
                        <% } %>
              </h5>
            </li>
            <li class="pe-5 nav-item ms-1 pe-1  d-flex align-items-center">
              <h5 class="fs-6 m-0" id="const-nome" value="<%=encontrarPessoa.IDPessoa%>">
                <%= encontrarPessoa.Nome %>
              </h5>
            </li>
            <li class="nav-item ps-1">
              <a
                href="/perfil?idPessoa=<%=idPessoa%>&selecionado=<%=selecionadoMM%>&funcionario=<%=funcionario%>&pagina=perfil">
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="white" class="bi bi-person-circle"
                  viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                  <path fill-rule="evenodd"
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <aside class="container" style="float: left;">
      <ul class="barra-esquerda nav flex-column align-items-center pt-3 gap-3">
        <li class="nav-item justify-content-center">
          <span class="material-symbols-outlined">menu</span>
        </li>
        <li class="nav-item justify-content-center">
          <a
            href="/news?idPessoa=<%=idPessoa%>&selecionado=<%=selecionadoMM%>&funcionario=<%=funcionario%>&pagina=news"><span
              class="material-symbols-outlined">newspaper</span></a>
        </li>
        <li class="nav-item justify-content-center">
          <% if (funcionario==0) {%>
            <a
              href="/gradeCurricular?idPessoa=<%=idPessoa%>&selecionado=<%=selecionadoMM%>&funcionario=<%=funcionario%>&pagina=gradeCurricular"><span
                class="material-symbols-outlined">grid_view</span></a>
            <% } else { %>
              <a
                href="/avaliacao?idPessoa=<%=idPessoa%>&selecionado=<%=selecionadoMM%>&funcionario=<%=funcionario%>&pagina=avaliacao"><span
                  class="material-symbols-outlined">grid_view</span></a>
              <% } %>
        </li>
        <li class="nav-item">
          <span class="material-symbols-outlined">school</span>
        </li>
        <li class="nav-item">
          <span class="material-symbols-outlined">face_4</span>
        </li>
        <li class="nav-item">
          <a
            href="/boletos?idPessoa=<%=idPessoa%>&selecionado=<%=selecionadoMM%>&funcionario=<%=funcionario%>&pagina=boletos"><span
              class="material-symbols-outlined">request_quote</span></a>
        </li>
        <li class="nav-item">
          <span class="material-symbols-outlined">bookmark</span>
        </li>
        <li class="nav-item">
          <span class="material-symbols-outlined">link</span>
        </li>
        <li class="nav-item">
          <span class="material-symbols-outlined">description</span>
        </li>
      </ul>
      <div class="triangulo-para-baixo"></div>
    </aside>

    <article>
      <h1 class="mt-5 d-flex justify-content-center">
        <%=encontrarPessoa.Nome %>
      </h1>

      <form action="/perfil" method="post" enctype="multipart/form-data">
        <section class="mt-5 justify-content-center">
          <div class="card mb-3" style="width: 40%; background-color: rgb(225, 229, 235);">
            <div class="g-0 d-flex gap-5" style="justify-content: center;">



              <div class="d-flex flex-column align-items-center justify-content-center">
                <img src="img/<%=encontrarPessoa.Foto%>" class=" foto-user card-img-top " id="imgFoto"
                  style="border-radius: 50%; cursor: pointer;">
                <input class="mb-4 " type="file" id="flImage" name="foto" accept="image/*" style="display:none;" disabled>
              </div>

              <div class="col-md-8" style="width: 30%;">
                <div class="card" style="border-style: none; background-color: rgb(225, 229, 235);">
                  <div class="card-body">
                    <div class="d-flex">
                      <ul style="padding: 0;">
                        <li class="list-group-item"><b style="color: rgb(16, 136, 136);">CPF</b></li>
                        <li class="list-group-item">
                          <input name="CPF" type="number" style="border: none; background-color: transparent;"
                            value="<%=encontrarPessoa.CPF%>" class="input-inacessivel campoEditavel" readonly>

                        </li>
                        <li class="list-group-item pt-3"><b style="color: rgb(16, 136, 136);">Data de nascimento</b>
                        </li>
                        <li class="list-group-item">
                          <input name="DataNascimento" type="text" style="border: none; background-color: transparent;"
                            value="<%=encontrarPessoa.DataNascimento %>" class="input-inacessivel campoEditavel"
                            readonly>

                        </li>
                        <% if (funcionario==0) {%>
                          <li class="list-group-item pt-3"><b style="color: rgb(16, 136, 136);">Periodo</b></li>
                          <li class="list-group-item">
                            <%=turmaEncontrada.Periodo %>
                          </li>
                          <% } %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>

        <section class="gap-3" style="flex-direction: column;">
          <div class="card" style="width: 100%;">
            <div class="card-body">
              <h4>Filiação</h4>
              <hr>

              <div class="d-flex">
                <div style="width: 48%;">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <h5>Nome</h5>
                    </li>
                  </ul>

                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <input name="Mae" type="text" style="border: none; background-color: transparent;;"
                        value="<%=encontrarPessoa.Mae %>" class="input-inacessivel campoEditavel" readonly>

                    </li>
                    <li class="list-group-item">
                      <input name="Pai" type="text" style="border: none; background-color: transparent;;"
                        value="<%=encontrarPessoa.Pai %>" class="input-inacessivel campoEditavel" readonly>

                    </li>
                  </ul>
                </div>

                <div style="width: 48%; margin-left: 70px;">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <h5>Tipo de relacionamento</h5>
                    </li>
                  </ul>

                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Mãe</li>
                    <li class="list-group-item">Pai</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="card" style="width: 100%;">
            <div class="card-body">
              <h4>Contato</h4>
              <hr>

              <div class="d-flex">
                <div style="width: 100%;">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">E-mail:
                      <input name="Email" type="text" style="border: none; background-color: transparent;;"
                        value="<%=encontrarPessoa.Email %>" class="input-inacessivel campoEditavel" readonly>

                    </li>
                    <li class="list-group-item">Telefone:
                      <input name="Telefone" type="text" style="border: none; background-color: transparent;;"
                        value="<%=encontrarPessoa.Telefone %>" class="input-inacessivel campoEditavel" readonly>

                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="card" style="width: 100%;">
            <div class="card-body">
              <h4>Endereço</h4>
              <hr>

              <div class="d-flex">
                <div style="width: 48%;">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">CEP:
                      <input name="CEP" type="text" style="border: none; background-color: transparent;;"
                        value="<%=encontrarPessoa.CEP%>" class="input-inacessivel campoEditavel" readonly>

                    </li>
                    <li class="list-group-item">Número:
                      <input name="Numero" type="text" style="border: none; background-color: transparent;;"
                        value="<%=encontrarPessoa.Numero%>" class="input-inacessivel campoEditavel" readonly>

                    </li>
                    <li class="list-group-item">Cidade:
                      <input name="Cidade" type="text" style="border: none; background-color: transparent;;"
                        value="<%=encontrarPessoa.Cidade%>" class="input-inacessivel campoEditavel" readonly>

                    </li>
                    <li class="list-group-item">Complemento:
                      <input name="Complemento" type="text" style="border: none; background-color: transparent;;"
                        value="<%=encontrarPessoa.Complemento%>" class="input-inacessivel campoEditavel" readonly>

                    </li>
                  </ul>
                </div>

                <div style="width: 48%; margin-left: 70px;">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Rua:
                      <input name="Rua" type="text" style="border: none; background-color: transparent;;"
                        value="<%=encontrarPessoa.Rua %>" class="input-inacessivel campoEditavel" readonly>

                    </li>
                    <li class="list-group-item">Bairro:
                      <input name="Bairro" type="text" style="border: none; background-color: transparent;;"
                        value="<%=encontrarPessoa.Bairro %>" class="input-inacessivel campoEditavel" readonly>

                    </li>
                    <li class="list-group-item">Estado:
                      <input name="Estado" type="text" style="border: none; background-color: transparent;;"
                        value="<%=encontrarPessoa.Estado %>" class="input-inacessivel campoEditavel" readonly>

                    </li>
                  </ul>
                  <input name="id" type="number" style="display:none;" value="<%=encontrarPessoa.IDPessoa %>">
                  <input name="selec" type="number" style="display:none;" value="<%=selecionadoMM %>">
                  <input name="func" type="number" style="display:none;" value="<%=funcionario%>">
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex gap-3 justify-content-end">
            <button style="display: none;" onclick="salvarEdicao()" type="post" class="botao-salvar"
              id="botaoSalvar">Salvar</button>
            <button type="button" id="botaoEditarSalvar" onclick="tornarSomenteLeitura()">Editar</button>
          </div>
      </form>


    </article>
  </main>

  <footer style="height: 60px;"></footer>
</body>

</html>